<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.moxspoy.komath">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".story.Episode5Activity"></activity>
        <activity android:name=".story.Episode4Activity" />
        <activity android:name=".story.Episode3Activity">
        </activity>
        <activity android:name=".story.Episode2Activity" />
        <activity android:name=".story.Episode1Activity" />
        <activity android:name=".story.StoryActivity">

        </activity>
        <activity android:name=".submenu.IndicatorContentActivity" />
        <activity android:name=".menu.InfoActivity" />
        <activity android:name=".menu.ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.RangkumanActivity" />
        <activity android:name=".menu.StoryListActivity" />
        <activity android:name=".menu.TokohActivity" />
        <activity android:name=".menu.IndicatorActivity" />
        <activity android:name=".menu.GuideActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>